:root {
  --ecdgreen: #02AB04;
}
:root {
  --contentwidth: 150px;
  --contentmargin: 6px;
  --contentpadding: 6px;
}

@media (min-width:720px) {
  :root {
    --contentwidth: 180px;
    --contentmargin: 10px;
    --contentpadding: 10px;
  }
}

body{
  overflow-y: scroll;
  background-color:#000000;
  padding:0;
  margin:0;
  color:#FFFFFF;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 20px;
}

.title {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--ecdgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.title > div > h1 {
  font-size: 40px;
  margin: 0px;
}

.pagetitle {
}

@media (min-width:720px) {
  body{
    font-size: 24px;
  }

  .title{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title > div > h1 {
    padding: 24px;
    padding-left: 48px;
    font-size: 54px;
    margin: 0px;
  }
  .pagetitle {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.content {
  width:inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  row-gap: 0px;
  column-gap: 0px;
  padding:var(--contentmargin);
}

.content > .contentbox {
  width: var(--contentwidth);
  height: var(--contentwidth) ;
  background: #101010;
  margin: var(--contentmargin);
  padding: var(--contentpadding);
}

.content > .contentTitle {
  width: calc(2 * var(--contentwidth) + 2*var(--contentmargin) + 2*var(--contentpadding));
  height: var(--contentwidth);
  background: #101010;
  margin: var(--contentmargin);
  padding: var(--contentpadding);
}

.about-split{
  padding: var(--contentpadding);
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items: center;
}

.about-image{
  margin: var(--contentmargin);
  height:401px;
  width:321px;
}

.about-text{
  margin: var(--contentmargin);
}

.forrest-image{
  height:100%;
  width:100%;
}

@media (min-width:720px) {
  .about-split{
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width:1400px) {
  .about-split{
    width: 1400px;
  }
}

.resume-link{
  color:#FFFFFF;
}

.resume-link:hover{
  color:#888888;
}

.about-desc{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  padding-left: 20px;
  padding-right: 30px;
}

.q{
  font-style: italic;
}
.about-desc > .q > p{
  margin: 0px;
}

a {
  color:#FFFFFF;
}

.return-home{
  background-color: var(--ecdgreen);
  display:flex;
  flex-direction: row;
  align-items: center;
}

.return-home:hover{
  background-color: #009B00;
}
